@model Admin_webbds.Models.BatDongSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chi tiết bất động sản</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.TieuDe)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.MoTa)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.MoTa)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Gia)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Gia)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DienTich)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DienTich)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ViTri)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ViTri)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Anh)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Anh)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.TienNghi)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.TienNghi)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ThongTinLienHe)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ThongTinLienHe)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.NgayTao)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NgayTao)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.NgaySua)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NgaySua)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.TrangThai.HasValue)
                            {
                                if (Model.TrangThai.Value)
                                {
                                    <span class="text-success">Đã duyệt</span>
                                }
                                else
                                {
                                    <span class="text-danger">Chưa duyệt</span>
                                }
                            }
                            else
                            {
                                <span class="text-muted">Không có thông tin trạng thái</span>
                            }
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.PhapLy)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.PhapLy)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.urlmap)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.urlmap)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.MoiGioi.Ten)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.MoiGioi.Ten)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="@Url.Action("Edit", new { id = Model.MaBatDongSan })" class="btn btn-primary mr-2">Chỉnh sửa</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Trở lại</a>
    </div>
</div>